body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 80px;
    padding: 20px;
}

.navbar-links li{
    display: inline;   
}

.navbar-links a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: color 0.3s ease;
}
.card {
    background-color: white;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.card:hover {
    transform: scale(1.45);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: 18px;
    color: #333;
}

.card p {
    font-size: 14px;
    color: #666;
}

